html {
    background-color: #12100e;
    height: 100%;
    width: 100%;
    color: #D9D9D9;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    margin-left: 18%;
    margin-top: 50px;
}

body {
    background-image: linear-gradient(190deg, #2b4162 0%, #12100e 21%);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #D9D9D9;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 32px;
}

nav ul li {
    display: inline-block; 
    margin-bottom: 30px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    padding: 8px 12px; 
    border-radius: 4px; 
}

nav ul li a:hover {
    /* background-color: rgba(255, 255, 255, 0.1);  Add a subtle hover effect */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#about {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-pic {
    border-radius: 50%;
    float:right;
    margin-right: 12%;
}

.about-me {
    font-size: 18px;
    width: 33%;
 }

 .about-content {
    flex-grow: 1;
}

.skill {
    display: inline-block;
    margin: 10px 10px;
    vertical-align: middle; 
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

#title-name {
    display: inline-flex;
    float: left;
    align-self: center;
}

.skill-text {
    display: none;
    text-align: center;
}

.about-title {
    text-decoration: underline;
}

#gitlogo {
    height: 40px;
    width: 40px;
    background-color: white;
}

#git-text {
    top: 4px;
}

.logos {
    height: 40px;
    width: 40px;
}

#contactButton:hover {
    background-color: #0056b3;
}

#not-done {
    display: none;
}

/* Interactive item style */
#contactButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px 0000FF, 0 0 40px 0000FF, 0 0 50px 0000FF, 0 0 60px 0000FF, 0 0 70px 0000FF;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #2b4162, 0 0 40px #2b4162, 0 0 50px #2b4162, 0 0 60px #2b4162, 0 0 70px #2b4162, 0 0 80px #2b4162;
    }
  }

/* Media styling */
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
  }
  html {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
  }